@font-face {
    font-family: 'Yeseva One', cursive;
}

@font-face {
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Gentium Book Basic', serif;
}

@font-face {
    font-family: 'Open Sans', serif;
}

html {
    height: 100%;
}

body {
    width: 1600px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 auto;
    padding: 0;
    font-family: 'Yeseva One';
}

main {
    background-image: url(../images/pattern.png);
    min-height: calc(100vh-110px-320px)''
}

* {
    box-sizing: border-box;
}


div {
    display: block;
    position: inherit;
}

header {
    height: 110px;
    width: 1600px;
    background: linear-gradient(to bottom, black, transparent);
    position: absolute;
}

.container {
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.header__logo {
    float: left;
    left: 3px;
}

.header__logo p {
    padding: 4px 1px;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    font-family: 'Yeseva One';
}

nav {
    position: inherit;
    height: 110px;
    float: right;
    right: 24px;
}

.nav-menu {
    margin: 0;
    display: block;
}

.nav-menu li {
    float: left;
    display: block;
    font-size: 21px;
    padding-top: 48px;
    text-align: center;
}

.nav-menu li:hover {
    box-shadow: inset 0 3px 0 0 #fff;
}

.nav-menu a {
    color: #fff;
    font-size: 21px;
    font-family: 'Gentium Book Basic';
    text-decoration: none;
    text-transform: capitalize;
    cursor: default;
}

.nav-menu i {
    color: #dab33e;
}

.nav-menu__b-home {
    width: 78px;
}

.nav-menu__b-about {
    width: 135px;
}

.nav-menu__b-ingredients {
    width: 126px;
}

.nav-menu__b-menu {
    width: 116px;
}

.nav-menu__b-reviews {
    width: 114px;
}

.nav-menu__b-reservation {
    width: 180px;
}

.nav-menu__b-social1 {
    width: 27px;
}

.nav-menu__b-social2 {
    width: 42px;
}

.nav-menu__b-social3 {
    width: 22px;
}

.promo-section {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    height: 750px;
    background: url(../images/section-promo__background.png) no-repeat center top;
}

.promo-section h2 {
    margin: 0 auto;
    padding-top: 120px;
    font-family: 'Yeseva One';
    font-size: 90px;
}

.promo-section p {
    margin-top: 12px;
}

.promo-section img {
    position: inherit;
    bottom: 56px;
    left: 3px;
}

.promo-section__buttons {
    bottom: 56px;
}

.promo-section button {
    height: 57px;
    width: 228px;
    margin: 30px 13px;
}

.promo-section a {
    font-family: 'Lato';
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: default;
}

.promo-section__buttons__b-book {
    border: solid 2px;
    background: rgba(0, 0, 0, 0.6);
}

.promo-section__buttons__b-book:hover {
    background: rgba(0, 0, 0, 0.8);
}

.promo-section__buttons__b-menu {
    border: solid 2px white;
    background: rgba(255, 255, 255, 0.3);
}

.promo-section__buttons__b-menu:hover {
    background: rgba(255, 255, 255, 0.7);
}

.about-section {
    margin: 0;
    padding: 100px 0;
    text-align: center;
    color: #cc9900;
    height: 710px;
}

.about-section__b-description {
    width: 50%;
    position: inherit;
    left: 8px;
}

.about-section figure {
    position: inherit;
}

.about-section h2 {
    font-family: 'Yeseva One';
    font-size: 36px;
    text-decoration: none;
    cursor: default;
    margin: 0;
    padding-left: 4px;
}

.about-section__about__divider {
    margin-top: 14px;
    margin-left: 4px;
}

.about-section figcaption {
    font-family: 'Lato';
    font-size: 16px;
    color: black;
    position: inherit;
    top: 3px;
    left: 1px;
}


.about-section p {
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 6px;
}

.main-img {
    position: absolute;
    bottom: -360px;
    left: 516px;
}

.secondary-img {
    position: absolute;
    top: 172px;
    left: 201px;
}

.ingredients-section {
    height: 758px;
    width: 100%;
    background: url(../images/ingredients-section_background.png)
}

.ingredinets-description {
    box-sizing: border-box;
    position: inherit;
    height: 557px;
    width: 570px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
    left: 640px;
    top: 100px;
    padding: 41px 70px;
}

.ingredinets-description h2 {
    font-family: 'Yeseva One';
    font-size: 36px;
    color: white;
    margin: 0 auto;
    padding: 35px 0 5px 0;
}

.ingredients-section__divider {
    margin: 0 auto;
    padding: 10px;
}

.ingredients {
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 10px 0;
}

.ingredinets-description p {
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 2px;
}

.ingredients figcaption :last-child {
    padding: 6px;
}

.ingredinets-images {
    height: 100px;
    width: 100%;
    margin: 70px 0;
}

.ingredinets-images div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 18px;

    Box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.ingredinets-img1 {
    background: url(../images/ingredient-img1.png);
    background-position: -42px -25px;
}

.ingredinets-img2 {
    background: url(../images/ingredient-img2.png);
    background-position: -44px -90px;
}

.ingredinets-img3 {
    background: url(../images/ingredient-img3.png);
    background-position: -44px -14px;
}

.menu-section {
    height: 994px;
    padding: 100px 0;
    background: url(../images/menu-pattern.png);
}

.menu-content {
    position: relative;
    margin: 0 20px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item {
    float: left;
    width: 430px;
    margin: 0 84px 37px 84px;
    height: 42%;
}

.menu-item h2 {
    padding-left: 18px;
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-size: 36px;
    text-transform: capitalize;
    color: #cc9900;
    text-align: center;
}

.menu-item h3 {
    text-transform: capitalize;
    color: #cc9900;
    text-align: left;
    font-family: 'Yeseva One';
    font-size: 21px;
    margin: 0;
    width: 430px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cc9900;
}

.menu-item img {
    margin: 14px 98px;
}

.dish {
    position: relative;
    left: 6px;
    top: 9px;
    display: inline-block;
}

.prise {
    position: absolute;
    left: 377px;
    bottom: 52px;
    font-family: 'Yeseva One';
    font-size: 21px;
    color: #cc9900;
}

.dish-info {
    font-family: 'Lato';
    font-size: 16px;
    margin: 11px 0 35px 0;
}

.menu-column {
    float: left;
    margin: 0 auto;
    width: 50%;
}

.menu-content :last-child {
    right: 3px;
}

.review-section {
    height: 758px;
    padding: 100px 0;
    background: url(../images/review-section__background.png);
}

.special-offer {
    position: absolute;
    width: 455px;
    height: 102px;
    margin: 0;
    padding: 0;

}

.special-tag {
    position: relative;
    width: 69px;
    height: 22px;
    background-color: #cc9900;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 4px 0;
    left: 380px;
}

.border {
    width: 100%;
    height: 80px;
    border: 1px solid #cc9900;
}

.menu-content :first-child .special-offer {
    left: 82px;
    top: 607px;
}

.menu-content :last-child .special-offer {
    left: 82px;
    top: 507px;
}

.review {
    position: relative;
    width: 770px;
    height: 557px;
    background: url(../images/review-text__background.png);
    margin: 0 auto;
    padding: 0 70px;
    bottom: 5px;
}

.review h2 {
    font-family: 'Yeseva One';
    font-size: 36px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding-top: 76px;
    margin: 5px;
}

.review img {
    margin: 10px 193px;
}

.review blockquote p {
    font-family: 'Gentium Book Basic';
    font-size: 25px;
    color: white;
    text-align: center;
    word-spacing: 4px;
    margin: 0;
    padding: 12px 0 4px 0;
}

.review blockquote {
    margin: 0 auto;
    text-align: center;
}

.review cite {
    display: block;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    margin: 37px;
}

.quote {
    position: absolute;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 96px;
    color: white;
    bottom: 294px;
    left: 29px
}

.reservation-section {
    height: 710px;
    padding: 100px 0;
}

.images {
    position: absolute;
    height: 538px;
    width: 570px;
    margin: 0;
    padding: 0;
    left: 40px;

}

.images :first-child {
    float: left;
}

.images :last-child {
    float: right;
}

.book {
    position: absolute;
    height: 508px;
    width: 430px;
    margin: 0;
    padding: 0;
    left: 710px;
    text-align: center;
}

.book h2 {
    position: relative;
    font-family: 'Yeseva One';
    font-size: 36px;
    margin: 0 auto;
    padding: 0;
    color: #cc9900;
    top: -4px;
}

.book img {
    margin: 10px;
}

.book p {
    font-family: 'Lato';
    font-size: 16px;
    margin: 11px 0;
    line-height: 24px;
}

.booking-form {
    position: relative;
    right: 14px;
    top: 8px;
    width: 458px;
    height: 210px;
}

fieldset {
    border: none;
    width: 100%;
}

input {
    height: 36px;
    width: 200px;
    margin: 28px 0 18px 0;
    font-size: 16px;
    color: #7c7c7c;
    text-indent: 14px;
}

select {
    height: 36px;
    width: 200px;
    float: right;
    margin: 6px 2px;
    border: 2px solid #c8c6c6;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    color: #7c7c7c;
}

.name-form {
    float: left;
    border: 2px solid #c89f2d;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}

input[type="email"] {
    float: right;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #c8c6c6;
}

.date-form {
    float: left;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #c8c6c6;

}

label {
    position: absolute;
    font-size: 14px;
    color: #c9a131;
    text-transform: capitalize;
    text-align: left;
}

fieldset p {
    font-family: 'Open Sans', serif;
}

label[for="name"] {
    left: 2px;
}

label[for="email"] {
    text-align: left;
    right: 170px
}

label[for="date"] {
    top: 96px;
    left: 0px;
}

input[type="date"]::-webkit-datetime-edit {
    visibility: hidden;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.person-number {
    top: 96px;
    left: 0px;
}

fieldset div :first-child {
    float: left;
}

fieldset div :last-child {
    float: right;
}

.form-column {
    position: relative;
    width: 203px;
}

select {
    text-indent: 10px;
}

.open-button {
    position: absolute;
    top: 130px;
    right: 8px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.open-button button {
    border: none;
    background: transparent;
}

input[type="submit"] {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 11px;
    background: #c9a131;
    border: none;
    outline: none;
}

footer {
    width: 100%;
    height: 320px;
    padding: 50px 205px;
    background: #191919;
    grid-row-start: 2;
    grid-row-end: 3;
}



footer div {
    float: left;
    width: 390px;
    height: 218px;
    color: white;
    text-align: center;
}

footer img {
    width: 200px;
    margin-top: 8px;
    margin-bottom: 14px;
}


footer h3 {
    text-transform: capitalize;
    font-family: 'Yeseva One';
    font-size: 21px;
    margin: 7px 0px;
}

footer p {
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0;
    line-height: 1.5em;
    text-decoration: none;
    color: white;
}

footer a {
   text-decoration: none;
    color: white;
    margin: 4px; 
}

.footer-first-column {
    margin-right: 10px;
}

.footer-location {
    margin-left: 10px;
}

.footer-social {
    height: 100%;
    position: relative;
    top: 50px;
    left: 5px;
}

.footer-payment {
    height: 100%;
    position: relative;
    top: 50px;
    left: 5px;
}
